 .u-section-1 {
  background-image: url("image/bg.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 755px;
}

.u-section-1 .u-group-1 {
  width: 764px;
  min-height: 375px;
  height: auto;
  margin: 168px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 30px 30px;
}

.u-section-1 .u-text-1 {
  width: 546px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  margin: 80px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 12px auto 0;
}

.u-section-1 .u-text-4 {
  width: 135px;
  margin: 32px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: -516px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}